# fly.toml app configuration file generated for vite-gourmand-withered-glitter-7902 on 2026-02-04T17:06:01+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'vite-gourmand-withered-glitter-7902'
primary_region = 'cdg'

[build]

[env]
  NODE_ENV = "production"
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = "requests"
    hard_limit = 250
    soft_limit = 200

  [[http_service.checks]]
    interval = "15s"
    timeout = "10s"
    grace_period = "120s"
    method = "GET"
    path = "/api"

[[vm]]
  memory = '1024mb'
  cpus = 1
  memory_mb = 1024
